.header{
	position: fixed;
	left: 0;
	top: 0;
	height: 2%;
	width: 100%;
	text-align: center;
	padding: 1.5%;
}

a{
	cursor: pointer;
	color: #4444fc;
}

.usercreator {
	position: fixed;
	margin-left: auto;
    margin-right: auto;
	left: 25%;
	right: 25%;
	top: 25%;
	padding: 1.5%;
    width: 20em;    
    clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
	webkit-clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.5%;
	text-align: center;
	height: 7%;
}

.chatbox{
	position: fixed;
	right: 0;
	top: 9.5%;
	bottom: 10%;
	width: 25%;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	clip-path: polygon(0 7%, 10% 0, 100% 0, 100% 100%, 10% 100%, 0 93%);
	webkit-clip-path: polygon(0 7%, 10% 0, 100% 0, 100% 100%, 10% 100%, 0 93%);
}

.chatscroll {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow:auto;
	align-items: center;
	justify-content: center;
	clip-path: polygon(0 7%, 10% 0, 100% 0, 100% 100%, 10% 100%, 0 93%);
	webkit-clip-path: polygon(0 7%, 10% 0, 100% 0, 100% 100%, 10% 100%, 0 93%);
}

.chatscroll > div {
	display: flex;
	padding: 0.2em;
	column-gap: 0.5em;
	margin-top: 0.5em;
	align-items: center;
}

.cardused{
	width: 18em;
	padding: 0.5em;
	clip-path: polygon(0 15%, 5% 0, 95% 0, 100% 15%, 100% 85%, 95% 100%, 5% 100%, 0 85%);
	webkit-clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);

}

.cardused#event{
	background-color: red;
}

.cardused#item{
	background-color: blue;
}

.cardname{
	margin-top: 0.2em;
	margin-bottom: 0;
}

.message{
	flex-basis: 100%;
	height: 5.5em;
	padding: 0.25em;
}

.text{
	overflow: auto;
	display: -webkit-box;
	line-clamp: 3; 
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	padding-right: 0.2em;
	margin: 0.5em;
}

.cardmessage{
	margin-left: 0.5em;
	margin-top: 0.2em;
	margin-bottom: 0;
}

.textbox{
	margin-left: 3em;
	margin-top: 0.5em;	
}

.game{
	position: fixed;
	top: 8.5%;
	bottom: 10%;
	left: 0;
	right: 30%;
}

.card{}

.profile{
	position: absolute;
	width: 9em;
	height: 7em;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow:hidden;
	align-items: center;
	background-color: #010101;
	clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
	webkit-clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
}

.profile > *{
	margin: 0;
	font-size: 0.85em;
}

.timer{
	position: absolute;
	width: 5em;
	height: 5em;
	text-align: center;
	display: flex;
	flex-direction: column;
	overflow:hidden;
	align-items: center;
	background-color: #010101;
	clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
	webkit-clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
	margin: 0;
	left: 80%;
	bottom: 0%;
}

#p0{
	left: 25%;
	bottom: 0%;
}

#p1{
	left: 10%;
	bottom: 30%;
}

#p2{
	left: 20%;
	bottom: 70%;
}

#p3{
	left: 50%;
	bottom: 80%;
}

#p4{
	left: 80%;
	bottom: 70%;
}

#p5{
	left: 90%;
	bottom: 30%;
}

.score{
	position: absolute;
	bottom: 0;
}

.pfp-color#red{
	filter: drop-shadow(0px 1000px 0 red);
	transform: translateY(-1000px);
}

.pfp-color#green{
	filter: drop-shadow(0px 1000px 0 green);
	transform: translateY(-1000px);
}

.pfp-color#blue{
	filter: drop-shadow(0px 1000px 0 blue);
	transform: translateY(-1000px);
}

.pfp{
	width: 5.75em;
	height: 5.75em;
	image-rendering: pixelated;
}

.account{
	color: #7f7fff;
}

@media (prefers-color-scheme: light) {
	body {
		background: #FFF;
		color: #333;
	}
	
	.header {
		background-color: #F1F1F1;
	}
	
	.chatbox {
		background-color: #F1F1F1;
	}
	
	.message{
		background-color: #FFF;
	}
	
	.footer {
		background-color: #F1F1F1;
	}
	
	.usercreator{
		background-color: #F1F1F1;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: #FFF;
	}
	
	.header {
		background-color: #010101;
	}
	
	.chatbox {
		background-color: #010101;
	}
	
	.message{
		background-color: #333;
	}
	
	.footer {
		background-color: #010101;
	}
		
	.usercreator{
		background-color: #010101;
	}
}