.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	text-align: center;
	padding: 2%;
}

.usercreator {
	position: fixed;
	margin-left: auto;
    margin-right: auto;
	left: 25%;
	right: 25%;
	top: 25%;
	padding: 1.5%;
    width: 20em;    
    clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
	webkit-clip-path: polygon(0 15%, 10% 0, 90% 0, 100% 15%, 100% 85%, 90% 100%, 10% 100%, 0 85%);
}

.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1%;
	text-align: center;
	height: 8%;
}

p{
	font-size: 1.875em;
}

@media (prefers-color-scheme: light) {
	body {
		background: #FFF;
		color: #333;
	}
	
	.header {
		background-color: #F1F1F1;
	}
	
	.footer {
		background-color: #F1F1F1;
	}
	
	.usercreator{
		background-color: #F1F1F1;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #333;
		color: #FFF;
	}
	
	.header {
		background-color: #010101;
	}
	
	.footer {
		background-color: #010101;
	}
		
	.usercreator{
		background-color: #010101;
	}
}